@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  background-color: inherit;
  border: 0.5rem solid #dddddd;
  border-top: 0.5rem solid #38893c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
